{% extends "home_menu/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <!-- FORM  -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Excel files with metric information and words labels
                </legend>
                {{ form|crispy }}


            </fieldset>
            <div class="form-group">
                <a href="{% url 'profile' %}">Back</a>
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content%}