{% extends "home_menu/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- FORM  -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group" style="width: 65%;">
        <legend class="border-bottom mb-4">Change Password</legend>
        {{ form|crispy }}

    </fieldset>


    <ul style="font-size:13px">
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <div class="form-group">
        <a href="{% url 'profile' %}">Back</a>
        <button class="btn btn-outline-info" id="changePasswordBtn" type="submit">Change Password</button>
    </div>
</form>
</div>


{% endblock content %}